
.task-container{
    display:inline-block;
    text-align:center;
    width:500px;
}


.task-presentation{
    display:inline-block;
    text-align:center;
    background-color:#0d88c1;
    padding:10px 5%;
    width:90%;    
}

.task-inputs{
    display:inline-block;
    text-align:center;
    background-color:#dadada;
    padding:10px 5%;
    width:90%;
    margin-bottom:10px;
    margin-top:10px;
}

.task-buttons{
    display:block;
}



/******************************************************************************/

.task-card{
    display:inline-block;
    position:relative;
    width:100%;
    // padding:5px;
}

.task-card-vertical > .task-card-element{
    display:block;
    position:relative;
    width:100%;
}

.task-card-horizontal  > .task-card-element{
    display:inline-block;
    position:relative;
    vertical-align:top;
}

.task-card-horizontal{
    white-space: nowrap;
}

.task-card-element{
    white-space: normal;
}

.task-card-error{
    background-color:orange;
    color:black;
}
.task-card-correct{
    background-color:#aaffaa;
    color:black;
}

/******************************************************************************/
.taskContainer{
    text-align:center;
}


/******************************************************************************/

.task-text-error{
    background-color:orange;
    color:black;
}
.task-text-correct{
    background-color:#aaffaa;
    color:black;
}



/******************************************************************************/

.task-radio-correct{
    background-color:#aaffaa;
}
.task-radio-error{
    background-color:orange;
}
.task-radio-checked{
    background-color:silver;
}
.task-radio-label-vertical{
    display:block;
}
.task-radio-label-horizontal{
    
}



/******************************************************************************/

.task-counterplace{
    display:inline-block;
    border:1px solid gray;
    margin-right:5px;
    position:relative;
}
.task-counter{
    display:inline-block;
    border:1px solid gray;
    cursor:move;
    z-index:1000;
    padding:0 5px;
}
.task-counter.ui-draggable-dragging { background: green; color:white;}





/******************************************************************************/
.task-dropzone{
    display:inline-block;
    border:1px solid red;    
    height:1.3em;
}

.task-dropzone-error{
    background-color:#ffaaaa;
}
.task-dropzone-correct{
    background-color:#aaffaa;
}


