.task-tip{
    display:block;
}

.task-presentation{
    display:inline-block;
    position:relative;
    width:100%;
}

.task-inputs{
    display:inline-block;
    position:relative;
    width:100%;
}

.task-buttons{
    display:inline-block;
    position:relative;
    width:100%;
}


.task-card{
    display:inline-block;
    position:relative;
    width:100%;
    padding:5px;
}
.task-card-vertical{
    display:inline-block;
    position:relative;
    width:100%;
}
.task-card-horizontal{
    display:inline-block;
    position:relative;
    vertical-align:top;
}
.task-card-error{
    background-color:#ffaaaa;
}
.task-card-correct{
    background-color:#aaffaa;
}



.task-text-correct{
    background-color:#aaffaa;
}

.task-text-error{
    background-color:#ffaaaa;
}




.task-radio-correct{
    background-color:#aaffaa;
}
.task-radio-error{
    background-color:#ffaaaa;
}
.task-radio-checked{
    background-color:silver;
}
.task-radio-label-vertical{
    display:block;
}
.task-radio-label-horizontal{
    
}



.task-checkbox-correct{
    background-color:#aaffaa;
}
.task-checkbox-error{
    background-color:#ffaaaa;
}
.task-checkbox-checked{
    background-color:silver;
}



.task-counterplace{
    display:inline-block;
    border:1px solid gray;
    margin-right:5px;
    position:relative;
}
.task-counter{
    display:inline-block;
    border:1px solid gray;
    cursor:move;
    z-index:1000;
    padding:0 5px;
}
.task-counter.ui-draggable-dragging { background: green; color:white;}

.task-dropzone{
    display:inline-block;
    border:1px solid red;    
    height:1.3em;
}

.task-dropzone-error{
    background-color:#ffaaaa;
}
.task-dropzone-correct{
    background-color:#aaffaa;
}



.task-audio{
    display:inline-block;
    vertical-align: middle;    
}
.task-audio-start-record{
    background-image: url('../img/icon-audio-start-record.png');
    background-size:24px 24px;
    background-repeat:no-repeat;
    background-position:center center;
    display:inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
.task-audio-stop-record{
    background-image: url('../img/icon-audio-stop-record.png');
    background-size:24px 24px;
    background-repeat:no-repeat;
    background-position:center center;
    display:inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
.task-audio-error{
    background-color:#ffaaaa;
}
.task-audio-correct{
    background-color:#aaffaa;
}
.task-audio-word-error{
    background-color:#ffaaaa;
}
.task-audio-word-correct{
    background-color:#aaffaa;
}
.audio-button-disabled{
    opacity:0.5;
}
.audio-button-enabled{
    opacity:1;
}

.task-audio-words{
    display:inline-block;
    vertical-align: middle;
}
.task-audio-indicator{
    display:inline-block;
    vertical-align: middle;
}
.task-audio-word{
    display:inline-block;
    vertical-align: top;
    margin-right:5px;
}



.taskPresentationText{
    width:420px;
    height:300px;
    background-color: #e0e000;
}
.taskPresentationFrames{
    display:none;
}


.playlist_item{
    
}

.playlist_button{
    width:25px;
    text-align:center;
}


.task-sound{
    display:inline-block;
    vertical-align: top;
}
.sound_button{
    width:30px;
    text-align:center;
}