

.editor-container{
    position:relative;
}

.editor-presentation-textarea{
    width:98%;
    height:200px;
}

.editor-element-container{
    background-color: #ffffff;
    border-color: gray gray gray green;
    border-image: none;
    border-style: dotted dotted dotted solid;
    border-width: 1px 1px 1px 3px;
    margin: 10px 3px 3px;
    padding-left: 5px;
    position: relative;
}
.editor-element-container:hover{
    border-left-color:orange;
}
.editor-toolbar{
    /*display:inline-block;*/
    width: 99.5%;
    background-color:silver;
    font-size:80%;
    opacity:0.6;
    padding-left:3pt;
}
.editor-toolbar:hover{
    opacity:1;
}

.delete-link,
.editor-options-link{
    display:inline-block;
    float:right;
    padding:0px 7px;
    text-decoration:none;
}
.delete-link:hover,
.editor-options-link:hover{
    background-color:gray;
    color:white;
}
.editor-element-options{
    background-color:#ddddff;
    padding:5px 1%;
    position:absolute;
    width:98%;
    z-index:1000;
    margin-left:30px;
    border:1px solid #aaaaff;
    font-size:80%;
}

.editor-component-container{
    margin-bottom:2pt;
    border-bottom:1px dotted gray;
}

.editor-component-label{
    display:inline-block;
    vertical-align: top;
    width:30%;
}
.editor-component-input{
    vertical-align: top;
    width:67%;
}
.editor-component-input.checkbox{
    vertical-align: top;
    width:auto;
}
.editor-component-input.select{
    width:68%;
}

.editor-card-children{
    /* margin:3px; border:1px dotted gray;*/
}

.editor-card-children:hover{
    /*border:1px solid green;*/
}
.editor-html-content{
    width:98%;
}

textarea{
    border:1px solid black;
}

.editor-card-children.horizontal{
    white-space: nowrap;
    overflow-x: scroll;
}
.editor-card-children.horizontal > .editor-element-container{
    white-space: normal;
    width:33%;
    display:inline-block;
    vertical-align:top;
}
.editor-card-children.vertical{
    white-space: normal;
}
.editor-card-children.vertical > .editor-element-container{
    white-space: normal;
    display:block;
}
.editor-card-children.flow{
}
.editor-card-children.flow > .editor-element-container{
    display:inline-block;
    vertical-align:top;
}




.addChildLink{
    display: inline-block;
    padding:0 5px;
}
.addChildLink:hover{
    background-color:gray;
    color:white;
    text-decoration:none;
}


.editor-radio-variants{
    display: inline-block;
}
.editor-radio-variants.vertical .label{
    display:block;
}
.editor-radio-variants.horizontal{
    white-space: nowrap;
}
.editor-radio-variants.horizontal .label{
    display: inline-block;
    vertical-align: top;
}
.editor-radio-variants.flow{
    white-space: normal;
}
.editor-radio-variants.flow .label{
    display: inline-block;
    vertical-align: top;
}


.editor-radio-variants .label input,
.editor-radio-variants .label .delete-link
{
    vertical-align:top;
}


.editor-element-container.checkbox input[type="checkbox"]{
    width:10%;
}
.editor-element-container.checkbox input[type="text"]{
    width:80%;
}

.playlist-item{
    margin-top:10px;
    margin-bottom:10px;
    padding-left:5px;
    border-left:2px solid gray;
}
.editor-element-container.playlist .label{
    font-size:80%;
    padding-left:10px;
}

.editor-element-container.playlist .toolbar{
    display:inline-block;
    width:100%;
    background-color:silver;
}



.editor-element-container.slideshow .label{
    font-size:80%;
}
.editor-element-container.slideshow .label.short{
    display:inline-block;
    margin-right:15px;
}
.editor-element-container.slideshow .label.short .editor-html-content{
    width:100px;
}


.slide-item{
    margin-top:10px;
    margin-bottom:10px;
}
.slide-item .toolbar {
  background-color: rgb(192, 192, 192);
  clear: both;
  display: inline-block;
  width: 100%;
}



#taskContainer{
    text-align:left;
}




.editor-element-container.video .label{
    font-size:80%;
}
.editor-element-container.video .label.short{
    display:inline-block;
    margin-right:15px;
}
.editor-element-container.video .label.short .editor-html-content{
    width:100px;
}

.subtitle-item{
    margin-top:10px;
    margin-bottom:10px;
}
.subtitle-item .toolbar {
  background-color: rgb(192, 192, 192);
  clear: both;
  display: inline-block;
  width: 100%;
}