
.task-container{
    display:inline-block;
    text-align:center;
    width:100%;
}


.task-presentation{
    display:inline-block;
    text-align:left;
    background-color:#EFEDEE;
    padding:10px 1%;
    width:98%;    
    border-radius:10px 10px 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
}

.task-inputs{
    display:inline-block;
    text-align:center;
    background-color:#EFEDEE;
    padding:10px 0;
    width:100%;
    margin-bottom:10px;
    margin-top:10px;

    border-radius:10px 10px 10px 10px;	
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    color:#000;
}

.task-buttons{
    display:block;
}

.task-html {
  display: inline-block;
  margin-top: 12px;
  /* margin-right:1em; */
}


/******************************************************************************/
.task-slideshow,
.task-playlist {
    display:inline-block;
    padding:10px;
    color:#fff;
    border-radius:10px 10px 10px 10px;	
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    background-color:#495054;
}
.task-video {
    display:inline-block;
    padding:10px;
    color:#fff;
    border-radius:10px 10px 10px 10px;	
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    background-color:#495054;
}




.task-card{
    display:inline-block;
    position:relative;
    width:100%;
    /* padding:5px; */
}

.task-card-vertical > .task-card-element{
    display:block;
    position:relative;
    display: block;
    padding: 0;
    position: relative;
    width:100%;
}

.task-card-horizontal  > .task-card-element{
    display:inline-block;
    position:relative;
    vertical-align:top;
}

.task-card-horizontal{
    white-space: nowrap;
}

.task-card-element{
    white-space: normal;
    /* padding:10px; */
}

.task-card-error{
    /* background-color:#cf5700; */
    color:black;
    border-radius:15px 15px 15px 15px;
    -moz-border-radius:15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px;
}
.task-card-correct{
    /* background-color:#89c122; */
    color:black;
    border-radius:15px 15px 15px 15px;
    -moz-border-radius:15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px;
}

/******************************************************************************/
.taskContainer{
    text-align:center;
}


/******************************************************************************/
.task-text {
    padding-top:10px;
    display:inline-block;
}
.task-text-error{
    background-color:orange;
    color:black;
}
.task-text-correct{
    background-color:#aaffaa;
    color:black;
}



/******************************************************************************/

.task-radio-correct{
    background-color:#aaffaa;
}
.task-radio-error{
    background-color:orange;
}
.task-radio-checked{
    background-color:#fff;
}

.task-radiobuttons{
    display:block;
}
.task-radiobuttons.vertical label{
    display:block;
}

.task-radiobuttons.horizontal{
    white-space:nowrap;
}
.task-radiobuttons.horizontal label{
    white-space:normal;
    display:inline-block;
}

.task-radiobuttons.flow{
    white-space:normal;
}
.task-radiobuttons.flow label{
    white-space:normal;
    display:inline-block;
}


/******************************************************************************/

.task-counterplace{
    display:inline-block;
    margin-right:5px;
    position:relative;
}

.task-counterplace{
    border:none;
    cursor:pointer;
    margin:10px;
    display: inline-block;
    background:#eeece6;
    text-shadow:0px -1px 0px #0d0d0d;
    -webkit-box-shadow: inset 3px 3px 11px #9e8d95;
    -moz-box-shadow:    inset 3px 3px 11px #9e8d95;
    box-shadow:         inset 3px 3px 11px #9e8d95;

    border-radius:15px 15px 15px 15px;
    -moz-border-radius:15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px;
}



.task-counter{
    display:inline-block;

    cursor:move;
    z-index:1000;

}
.task-counter {
    font:normal 14px Verdana, Geneva, sans-serif;
    font-style:normal;
    color:#000000;
    background: #f5f2eb;
    background-image: -webkit-linear-gradient(top, #f5f2eb, #e0d9c5);
    background-image: -moz-linear-gradient(top, #f5f2eb, #e0d9c5);
    background-image: -ms-linear-gradient(top, #f5f2eb, #e0d9c5);
    background-image: -o-linear-gradient(top, #f5f2eb, #e0d9c5);
    background-image: linear-gradient(to bottom, #f5f2eb, #e0d9c5);
    text-shadow:0px -1px 0px #0d0d0d;
    box-shadow:3px 3px 11px #9e8d95;
    -moz-box-shadow:3px 3px 11px #9e8d95;
    -webkit-box-shadow:3px 3px 11px #9e8d95;
    border-radius:15px 15px 15px 15px;
    -moz-border-radius:15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px;
    /* width:100%;
    height:100%; */
    padding:10px 10px;
    margin-right:10px;
}
.task-counter:active{
    cursor:pointer;
    position:relative;
}
.task-counter.ui-draggable-dragging {
    background: green;
    color:white;
}



@-webkit-keyframes counter-active{
    0%    {background: green;}
    50%   {background: orange;}
    100%  {background: gold;}
}
@keyframes counter-active {
    0%    {background: green;}
    50%   {background: orange;}
    100%  {background: gold;}
}
.task-counter-active{
    background: green;
    color:white;

    -webkit-animation-name: counter-active;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

    animation-name: counter-active;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



/******************************************************************************/
.task-dropzone{
    display:inline-block;
    border:none;    
    min-height:40px;
    border:none;
    font:normal 14px Verdana, Geneva, sans-serif;
    font-style:normal;
    color:#000000;
    background:#eeece6;
    text-shadow:0px -1px 0px #0d0d0d;
    -webkit-box-shadow: inset 3px 3px 11px #9e8d95;
    -moz-box-shadow:    inset 3px 3px 11px #9e8d95;
    box-shadow:         inset 3px 3px 11px #9e8d95;

    border-radius:15px 15px 15px 15px;
    -moz-border-radius:15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px;

    /*padding:20px 26px;*/
    padding:3px 15px 15px 3px;
    cursor:pointer;
    /* margin:10px 10px 10px 10px; */
    text-align: left;
    margin-right:5px;
}

.task-dropzone-error{
    background-color:#eda5c2;
}
.task-dropzone-correct{
    background-color:#cdfa93;
}


.task-dropzone-correct{
    background: #cdfa93;
    background-image: -webkit-linear-gradient(top, #cdfa93, #89c122);
    background-image: -moz-linear-gradient(top, #cdfa93, #89c122);
    background-image: -ms-linear-gradient(top, #cdfa93, #89c122);
    background-image: -o-linear-gradient(top, #cdfa93, #89c122);
    background-image: linear-gradient(to bottom, #cdfa93, #89c122);
}

.task-dropzone-error{
    background: #eda5c2;
    background-image: -webkit-linear-gradient(top, #eda5c2, #d80556);
    background-image: -moz-linear-gradient(top, #eda5c2, #d80556);
    background-image: -ms-linear-gradient(top, #eda5c2, #d80556);
    background-image: -o-linear-gradient(top, #eda5c2, #d80556);
    background-image: linear-gradient(to bottom, #eda5c2, #d80556);
}
/******************************************************************************/
.task-slideshow,
.task-playlist{
    display:inline-block;
    text-align:center;
}

.playlist_button{
    display:inline-block;
    text-align:center;    
    vertical-align:baseline;
    width:2em;
    background-color: #89c122;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 15px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    padding:2px;
}
/******************************************************************************/
.task-radio-label{
    border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 15px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    padding:2px;
}

.task-radiobuttons {
    text-align:left;
    vertical-align:top;
}
.task-radiobuttons .task-radio-btn {
    margin:0 7px  0 0;
}



.task-checkbox-label {
    text-align:left;
    vertical-align:top;
    border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 15px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    padding:2px;
}

.task-checkbox-label .task-checkbox {
    margin:0 7px  0 0;
}
/******************************************************************************/

.taskPresentationText{
    display:inline-block;
    position:relative;
    width:420px;
    height:252px;
    border:1px solid #89c122;
}


/******************************************************************************/
.recorder-level{
    display:inline-block;
    vertical-align:top;
    width:10px;
    height:30px;
    overflow:hidden;
    background-color:silver;
}

.recorder-level-indicator{
    display:inline-block;
    vertical-align:top;
    width:10px;
    height:30px;
    background-color:#007700;
}


.recorder-start{
    display:inline-block;
    vertical-align:top;
    height:30px;    
}
.recorder-start img{
    max-height:30px;
}
.recorder-start.hide{
    display:none; 
}

.recorder-stop{
    display:inline-block;
    vertical-align:top;
    height:30px;    
}
.recorder-stop img{
    max-height:30px;
}
.recorder-stop.hide{
    display:none; 
}


.recorder-playback{
    display:inline-block;
    vertical-align:top;
    height:30px;    
}
.recorder-playback img{
    max-height:30px;
}




.task-audio{
    display:inline-block;
    vertical-align: middle;    
}
.task-audio-start-record{
    background-image: url('../img/icon-audio-record.png');
    background-size:16px 16px;
    background-repeat:no-repeat;
    background-position:center center;
    display:inline-block;
    vertical-align: middle;
    width: 90px;
    height: 30px;
}


/* The animation code */
@keyframes example {
    0%   {background-color: red; left:0px; top:0px;}
    25%  {background-color: yellow; left:200px; top:0px;}
    50%  {background-color: blue; left:200px; top:200px;}
    75%  {background-color: green; left:0px; top:200px;}
    100% {background-color: red; left:0px; top:0px;}
}

.task-audio-stop-record{
    background-image: url('../img/icon-audio-record.png');
    background-size:16px 16px;
    background-repeat:no-repeat;
    background-position:center center;
    display:inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.task-audio-error{
    background-color:#ffaaaa;
}
.task-audio-correct{
    background-color:#aaffaa;
}
.task-audio-word-error{
    background-color:#ffaaaa;
}
.task-audio-word-correct{
    background-color:#aaffaa;
}
.audio-button-disabled{
    opacity:0.5;
}
.audio-button-enabled{
    opacity:1;
}

.task-audio-words{
    display:inline-block;
    vertical-align: middle;
}
.task-audio-indicator{
    display:inline-block;
    vertical-align: middle;
}
.task-audio-word{
    display:inline-block;
    vertical-align: top;
    margin-right:5px;
}



.task-card-flow  > .task-card-element{
    display:inline-block;
    position:relative;
    vertical-align:top;
}
.audio-countdown{
    display:inline-block;
    vertical-align: middle;
    width:35px;
    height:30px;
    font-size:150%;
    text-align:right;
}

.task-video{
    position:relative;
    display: inline-block;
}
.jp-subtitles{
    position:absolute;
    z-index:100;
    bottom:80px;
    left:0px;
    width:100%;
    background-color:rgba(255,255,255,0.5);
    color:black;
}


.task-checkbox-label,
.task-sound,
.task-playlist,
.task-slideshow,
.task-recorder{
    display:block;
    padding: 10px 1%;
    width: 98%;    
}
.task-radiobuttons,
.task-video,
.task-audio{
    position:relative;
    display: inline-block;
    padding: 10px;
}

.task-audio-interface{
    position:relative;
    display: inline-block;
    width:96px;
    vertical-align:middle;
    white-space:nowrap;
}

.jp-audio{
    display: inline-block;
}

.nomargin{
    margin:0px;
    padding:0px;
}


.transition{
    -webkit-transition: width 1s ease-out 1.5s,  height 1s ease-out 1.5s,  padding 1s ease-out 1.5s;
    -moz-transition: width 1s ease-out 1.5s, height 1s ease-out 1.5s,  padding 1s ease-out 1.5s;
    -o-transition: width 1s ease-out 1.5s, height 1s ease-out 1.5s,  padding 1s ease-out 1.5s;
    transition: width 1s ease-out 1.5s , height 1s ease-out 1.5s,  padding 1s ease-out 1.5s;
}


.task-sound{
    white-space:nowrap;
}

/* классы для оформления заданий */

/* моргающий фон для привлечения внимания */
.blink{
    -webkit-animation-name: counter-active;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

    animation-name: counter-active;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}


/* не показывать слова в элементе recorder */
.nowords .task-audio-words{
    display:none;
}

/* размеры символов */
.big{
    font-size:150%;
}

.giant{
    font-size:300%;
}

/* пометка для правильного текста */
.correct{
    color:#007700;
}

/*
  radiobuttons
  для размещения вариантов ответа в строки по 3 шт 
  надо поставить дополнительный класс t3x3
  и размещение flow
*/
.task-radiobuttons.t3x3.flow .task-radio-label{
    display:inline-block;
    width:32%;
    text-align:center;
    font-size:150%;
}
.task-radiobuttons.t3x3.flow img{
    max-width:100%;
}


.task-card-flow.t3x3 > .task-card-element{
    display:inline-block;
    width:32%;
    text-align:center;
}
.task-card-flow.t3x3 img{
    max-width:100%;
}
/*
  Для текста в элементе slideshow
  Мало текста и большое поле сверху
 */
.taskPresentationText .frame{
    text-align:center;
    font-size:150%;
    padding-top:70px;
}

/*
  Для текста в элементе slideshow
  Много текста и маленькое поле сверху
 */
.taskPresentationText .frame2{
    text-align:center;
    font-size:150%;
}

/* 
 * разные высоты для карточек
 */
.task-card.height-xxs{ min-height:100pt; }
.task-card.height-xs{  min-height:150pt; }
.task-card.height-s{   min-height:200pt; }
.task-card.height-m{   min-height:250pt; }
.task-card.height-l{   min-height:300pt; }
.task-card.height-xl{  min-height:350pt; }
.task-card.height-xxl{ min-height:400pt; }


.task-slideshow.height-xxs .taskPresentationText{ height:150pt; }
.task-slideshow.height-xs .taskPresentationText{  height:200pt; }
.task-slideshow.height-s .taskPresentationText{   height:250pt; }
.task-slideshow.height-m .taskPresentationText{   height:300pt; }
.task-slideshow.height-l .taskPresentationText{   height:350pt; }
.task-slideshow.height-xl .taskPresentationText{  height:400pt; }
.task-slideshow.height-xxl .taskPresentationText{ height:450pt; }


.aggregate-and.task-card-error{  background-color:#cf5700; }
.aggregate-and .task-radio-error, .aggregate-and .task-radio-correct {  background:none; }
.aggregate-and.task-card-correct{ background-color:#89c122; }


/* без горизонтальных отступов */
.tight .task-html{
    margin-right:0px;
}



.task-sequence{
    display:inline-block;
    text-align:left;
}
.task-sequence-correct{ background-color:#89c122;}
.task-sequence-error{background-color:#cf5700;}
.task-sequence.vertical .task-sequence-item{
    display:block;
}

.task-sequence-item{
    clear:both;
}
.task-sequence.horizontal{
    white-space:nowrap;
}
.task-sequence.horizontal .task-sequence-item{
    display:inline-block;
    white-space:normal;
    margin-right:10px;
}
.task-sequence-btn-down{
    background-repeat:no-repeat;
    background-position:center center;
    margin-right:5px;
    float:left;
}
.task-sequence-btn-up{
    background-repeat:no-repeat;
    background-position:center center;
    margin-right:5px;
    float:left;
}
.task-sequence.vertical .task-sequence-btn-down{
    background-image:url(../img/icon-down.png);
}
.task-sequence.vertical .task-sequence-btn-up{
    background-image:url(../img/icon-up.png);
}
.task-sequence.horizontal .task-sequence-btn-down{
    background-image:url(../img/icon-right.png);
}
.task-sequence.horizontal .task-sequence-btn-up{
    background-image:url(../img/icon-left.png);
}
.task-sequence .task-html{
    margin-top:0px;
}