
.task-container{
    display:inline-block;
    text-align:center;
    width:500px;
}


.task-presentation{
    display:inline-block;
    text-align:left;
    background-color:#0d88c1;
    padding:10px 5%;
    width:90%;    
}

.task-inputs{
    display:inline-block;
    text-align:center;
    background-color:#dadada;
    padding:10px 5%;
    width:90%;
    margin-bottom:10px;
    margin-top:10px;
}

.task-buttons{
    display:block;
}



/******************************************************************************/

.task-card{
    display:inline-block;
    position:relative;
    width:100%;
    // padding:5px;
}

.task-card-vertical > .task-card-element{
    display:block;
    position:relative;
    width:100%;
}

.task-card-horizontal  > .task-card-element{
    display:inline-block;
    position:relative;
    vertical-align:top;
}

.task-card-horizontal{
    white-space: nowrap;
}

.task-card-element{
    white-space: normal;
}

.task-card-error{
    background-color:orange;
    color:black;
}
.task-card-correct{
    background-color:#aaffaa;
    color:black;
}

/******************************************************************************/
.taskContainer{
    text-align:center;
}


/******************************************************************************/

.task-text-error{
    background-color:orange;
    color:black;
}
.task-text-correct{
    background-color:#aaffaa;
    color:black;
}



/******************************************************************************/

.task-radio-correct{
    background-color:#aaffaa;
}
.task-radio-error{
    background-color:orange;
}
.task-radio-checked{
    background-color:silver;
}

.task-radiobuttons{
    display:block;
}
.task-radiobuttons.vertical label{
    display:block;
}

.task-radiobuttons.horizontal{
    white-space:nowrap;
}
.task-radiobuttons.horizontal label{
    white-space:normal;
    display:inline-block;
}

.task-radiobuttons.flow{
    white-space:normal;
}
.task-radiobuttons.flow label{
    white-space:normal;
    display:inline-block;
}


/******************************************************************************/

.task-counterplace{
    display:inline-block;
    border:1px solid gray;
    margin-right:5px;
    position:relative;
}
.task-counter{
    display:inline-block;
    border:1px solid gray;
    cursor:move;
    z-index:1000;
    padding:0 5px;
}
.task-counter.ui-draggable-dragging {
    background: green;
    color:white;
}



@-webkit-keyframes counter-active{
    0%    {background: green;}
    50%   {background: orange;}
    100%  {background: gold;}
}
@keyframes counter-active {
    0%    {background: green;}
    50%   {background: orange;}
    100%  {background: gold;}
}
.task-counter-active{
    background: green;
    color:white;
    
    -webkit-animation-name: counter-active;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

    animation-name: counter-active;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



/******************************************************************************/
.task-dropzone{
    display:inline-block;
    border:1px solid red;    
    height:1.3em;
}

.task-dropzone-error{
    background-color:#ffaaaa;
}
.task-dropzone-correct{
    background-color:#aaffaa;
}




/******************************************************************************/
.task-playlist{
    display:inline-block;
    text-align:left;
}

.playlist_button{
    display:inline-block;
    text-align:center;    
    vertical-align:baseline;
    width:2em;
}




/******************************************************************************/

.taskPresentationText{
    display:inline-block;
    position:relative;
    width:420px;
    height:252px;
    border:1px solid #009be3;
}




/******************************************************************************/
.recorder-level{
    display:inline-block;
    vertical-align:top;
    width:10px;
    height:30px;
    overflow:hidden;
    background-color:silver;
}

.recorder-level-indicator{
    display:inline-block;
    vertical-align:top;
    width:10px;
    height:30px;
    background-color:#007700;
}


.recorder-start{
    display:inline-block;
    vertical-align:top;
    height:30px;    
}
.recorder-start img{
    max-height:30px;
}
.recorder-start.hide{
    display:none; 
}

.recorder-stop{
    display:inline-block;
    vertical-align:top;
    height:30px;    
}
.recorder-stop img{
    max-height:30px;
}
.recorder-stop.hide{
    display:none; 
}


.recorder-playback{
    display:inline-block;
    vertical-align:top;
    height:30px;    
}
.recorder-playback img{
    max-height:30px;
}




.task-audio{
    display:inline-block;
    vertical-align: middle;    
}
.task-audio-start-record{
    background-image: url('../img/icon-audio-record.png');
    background-size:16px 16px;
    background-repeat:no-repeat;
    background-position:center center;
    display:inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}


/* The animation code */
@keyframes example {
    0%   {background-color: red; left:0px; top:0px;}
    25%  {background-color: yellow; left:200px; top:0px;}
    50%  {background-color: blue; left:200px; top:200px;}
    75%  {background-color: green; left:0px; top:200px;}
    100% {background-color: red; left:0px; top:0px;}
}

.task-audio-stop-record{
    background-image: url('../img/icon-audio-record.png');
    background-size:16px 16px;
    background-repeat:no-repeat;
    background-position:center center;
    display:inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.task-audio-error{
    background-color:#ffaaaa;
}
.task-audio-correct{
    background-color:#aaffaa;
}
.task-audio-word-error{
    background-color:#ffaaaa;
}
.task-audio-word-correct{
    background-color:#aaffaa;
}
.audio-button-disabled{
    opacity:0.5;
}
.audio-button-enabled{
    opacity:1;
}

.task-audio-words{
    display:inline-block;
    vertical-align: middle;
}
.task-audio-indicator{
    display:inline-block;
    vertical-align: middle;
}
.task-audio-word{
    display:inline-block;
    vertical-align: top;
    margin-right:5px;
}



.task-card-flow  > .task-card-element{
    display:inline-block;
    position:relative;
    vertical-align:top;
}
.audio-countdown{
    display:inline-block;
    vertical-align: middle;
    width:35px;
    height:30px;
    font-size:150%;
    text-align:right;
}
